.row
  .col-md-6.col-md-offset-3
    .container
      %h2= page_title t('contact_infos.edit.title')
      = render "shared/errors", object: @contact_info

      = form_for [@site, @contact_info], url: site_contact_info_path(@site), method: :put do |f|
        .pyh
          = f.label :name
          = f.text_field :name, class: "form-control"
        .pyh
          = f.label :address
          = f.text_field :address, class: "form-control"
        .pyh
          = f.label :district
          = f.text_field :district, class: "form-control"
        .pyh
          = f.label :city
          = f.text_field :city, class: "form-control"
        .pyh
          = f.label :zip_code
          = f.text_field :zip_code, class: "form-control"
        -#.pyh
          = f.label :country
          = f.country_select :country, nil, { include_blank: t('contact_infos.edit.select_country_hint') }
        .pyh
          = f.label :phone
          = f.text_field :phone, class: "form-control"
        .pyh
          = f.label :fax
          = f.text_field :fax, class: "form-control"
        .pyh
          = f.label :email
          = f.text_field :email, class: "form-control"
        .pyh
          = f.label :facebook_url
          .input-group
            %span.input-group-addon= t('contact_infos.edit.facebook_url_initial')
            = f.text_field :facebook_url, class: "form-control"

        .pyh
          = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
