.row
  .col-md-8.col-md-offset-2
    .container
      #publishing_checklists
        %h2= page_title t('sites.publishings.edit.title')
        = t('sites.publishings.edit.subtitle')

        = render "sites/publishings/step", no: 1, status: current_user.activated?, path: resend_activation_email_user_path(current_user)
        = render "sites/publishings/step", no: 2, status: @site.contact_info.present?, path: edit_site_contact_info_path(@site)
        = render "sites/publishings/step", no: 3, status: @site.at_least_one_enabled_menu?, path: site_menus_path(@site)

      #website_status.mtd
        .row
          .col-md-4.mtd.tac.vl
            .b= t('sites.publishings.edit.status')
          .col-md-4.mbh.tac
            - if @site.published?
              = link_to website_unpublished(@site.published?), site_publishing_path(@site), method: :put
            - else
              = website_unpublished(@site.published?)
            = t('sites.publishings.edit.unpublished_hint').html_safe
          .col-md-4.tac
            - unless @site.published?
              = link_to website_published(@site.published?), site_publishing_path(@site), method: :put
            - else
              = website_published(@site.published?)
            = t('sites.publishings.edit.published_hint')
