%nav.navbar.navbar-custom.navbar-fixed-top{role: "navigation"}
  .container
    .navbar-header.page-scroll
      = content_tag :button, type: "button", data: { toggle: "collapse", target: ".navbar-main-collapse" }, class: "navbar-toggle" do
        %i.fa.fa-bars
      = link_to "#page-top", class: "navbar-brand" do
        = max_width_image_tag "/assets/logo.png", 45
        = WEBSITE_NAME

    .collapse.navbar-collapse.navbar-right.navbar-main-collapse.mt
      %ul.nav.navbar-nav
        %li.hidden= link_to("", "#page-top")
        %li.page-scroll= link_to(t('main.index.about.link'), "#about")
        %li.page-scroll= link_to(t('main.index.get_started.link'), "#get_started")
        %li.page-scroll= link_to(t('main.index.showcase.link'), "#showcase")
        %li.page-scroll= link_to(t('main.index.contact.link'), "#contact")

%section.intro
  .intro-body
    .container
      .row
        .col-md-8.col-md-offset-2
          %h1.brand-heading= t('main.index.intro.title', website_name: WEBSITE_NAME)
          %p.intro-text
            = t('main.index.intro.text_1')
            %span.b.aquamarine= t('main.index.intro.text_2')
            = t('main.index.intro.text_3')
          %p
            = link_to t('main.index.get_started.start'), sign_up_path, class: "btn btn-default btn-lg"
          .page-scroll
            = link_to "#about", class: "btn btn-circle" do
              %i.fa.fa-angle-double-down.animated

%section.container.content-section.text-center{id: "about"}
  .row
    .col-lg-8.col-lg-offset-2
      %h2= t('main.index.about.title', website_name: WEBSITE_NAME)
      %p= t('main.index.about.text_1', website_name: WEBSITE_NAME)
      %p= t('main.index.about.text_2', website_name: WEBSITE_NAME)
      .page-scroll
        = link_to "#get_started", class: "btn btn-circle" do
          %i.fa.fa-angle-double-down.animated

%section.content-section.text-center{id: "get_started"}
  .download-section
    .container
      .col-lg-8.col-lg-offset-2
        %h2= t('main.index.get_started.title')
        %p= t('main.index.get_started.text_1')
        = link_to t('main.index.get_started.start'), sign_up_path, class: "btn btn-default btn-lg"

= content_tag :a, nil, name: "showcase"
%section.container.content-section.text-center.pbq{id: "showcase"}
  .row
    .col-lg-8.col-lg-offset-2
      %h2= t('main.index.showcase.title')
      %p= link_to "ไร่สตรอว์เบอร์รีเกษตรเบย์", "http://example.kasetbay.com", target: "_blank"
      %p= link_to "บ้านไร่ปลื้มเปรม", "http://banraipluemplem.kasetbay.com", target: "_blank"
      %p= link_to "ส้มโอทับทิมสยาม", "http://tubtimsiam.kasetbay.com", target: "_blank"
      %p= link_to "มันสำปะหลังพันธุ์พิรุณ 1", "http://pirun1.kasetbay.com", target: "_blank"
      %p= link_to "ส้มโอหอมควนลัง", "http://homkhuanlang.kasetbay.com", target: "_blank"
      %p= link_to "เกษตรบ้าน รากฐานแห่งความสุข", "http://pulae.kasetbay.com", target: "_blank"
      %p= link_to "สำนักงานเกษตรอำเภอกงไกรลาศ", "http://kongkrailat-sukhothai.kasetbay.com", target: "_blank"
      %p= link_to "สำนักงานเกษตรอำเภอสวรรคโลก", "http://sawankhalok-sukhothai.kasetbay.com", target: "_blank"
      %p= link_to "สำนักงานเกษตรอำเภอคีรีมาศ", "http://khirimat-sukhothai.kasetbay.com", target: "_blank"
      %p= link_to "ความรู้ด้านการเกษตร", "http://knowledge.kasetbay.com", target: "_blank"

%section.container.content-section.text-center{id: "contact"}
  .row
    .col-lg-8.col-lg-offset-2
      %h2= t('main.index.contact.title', website_name: WEBSITE_NAME)
      %p= t('main.index.contact.text_1')
      = hidden_field_tag :email, ADMIN_EMAIL.reverse
      %p{data: {hider: "email"}}
      %ul.list-inline.banner-social-buttons
        %li
          -#= link_to "https://twitter.com", class: "btn btn-default btn-lg" do
            %i.fa.fa-twitter.fa-fw
            %span.network-name= "Twitter"
          -#= link_to "https://github.com", class: "btn btn-default btn-lg" do
            %i.fa.fa-github.fa-fw
            %span.network-name= "Github"
          -#= link_to "https://plus.google.com", class: "btn btn-default btn-lg" do
            %i.fa.fa-google-plus.fa-fw
            %span.network-name= "Google Plus"
          = link_to FACEBOOK_URL, class: "btn btn-default btn-lg", target: "_blank" do
            %i.fa.fa-facebook.fa-fw
            %span.network-name= "Facebook"
