.row
  .col-md-10.col-md-offset-1
    .container
      = render "shared/logo"
      %h2.tac= page_title t('main.tos.title')
      = t("main.tos.intro", website_name: WEBSITE_NAME)
      %ul
        - %w(one two three).each do |i|
          %li= t("main.tos.#{i}", website_name: WEBSITE_NAME)
