.row
  .col-md-6.col-md-offset-3
    .container
      = render "shared/logo"

      %h2= page_title t('sessions.new.title')
      = form_tag sessions_path do
        .pyh
          = label_tag :email, User.human_attribute_name(:email)
          = text_field_tag :email, params[:email], autofocus: true, class: "form-control"
        .pyh
          = label_tag :password, User.human_attribute_name(:password)
          = password_field_tag :password, nil, class: "form-control"
        .pyh
          = submit_tag t('sessions.new.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
      .fr
        = t('shared.or')
        = link_to t('users.forget_password.link'), forget_password_users_path
