%p= t('system_mailer.shared.dear', email: @email)
%p
  = t('system_mailer.new_sign_up.body', website: link_to(@website, @website)).html_safe
  %br
  = t('system_mailer.new_sign_up.first', link: link_to(t('shared.here'), activation_url(@activation_token))).html_safe
  %br
  = t('system_mailer.new_sign_up.second', link: link_to(t('shared.dashboard'), root_url)).html_safe
%p
  = t('system_mailer.shared.end')
  %br
  = DOMAIN_HOST
