%p= t('system_mailer.shared.dear', email: @email)
%p= t('system_mailer.reset_password.intro')
%p= t('system_mailer.reset_password.instruction', link: link_to(t('shared.here'), reset_password_url(@recovery_token))).html_safe
%p
  = t('system_mailer.shared.end')
  %br
  = DOMAIN_HOST
