= form_for [@site, @menu] do |f|
  .pyh
    = f.label :title
    = f.text_field :title, class: "form-control"
  .pyh
    = f.label_with_hint :hint
    = f.text_field :hint, class: "form-control"
  .py
    = f.label_with_hint :menuable
  .pyh
    = f.radio_button :menuable_type, "Category"
    = f.label "menuable_type_category", Menu.human_attribute_name("menuable_type_category"), class: "mr"
    = f.radio_button :menuable_type, "Page"
    = f.label "menuable_type_page", Menu.human_attribute_name("menuable_type_page")
  #menu_menuable_id.pyh
    = f.select "menuable_id", @all_categories.all.map {|category| [category.title, category.id] }, {}, id: "menu_menuable_id_category", style: "width: 100%;"
    = f.select "menuable_id", @all_pages.all.map {|page| [page.title, page.id] }, {}, id: "menu_menuable_id_page", style: "width: 100%;"

  .pyh
    = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
