.row
  .col-md-1 &nbsp;
  .col-md-10
    .container
      %h2= page_title t('menus.index.title')
      = t('menus.index.sub_title')

      %table.table.table-striped.mtd
        %thead
          %tr
            %th{width: "5%"}= t('shared.sort')
            %th{width: "35%"}= t('menus.index.thead_title')
            %th{width: "25%"}= t('menus.index.thead_link_to')
            %th &nbsp;
            %th &nbsp;
            %th &nbsp;
        %tbody#sortable{data: {url: sort_site_menus_path(@site)}}
          - if @menus.any?
            - @menus.each do |menu|
              %tr{id: dom_id(menu) }
                %td.tac{class: "#{menu.enabled ? '' : 'blur'}", data: {sortable_handle: true}}
                  %span.glyphicon.glyphicon-resize-vertical
                %td{class: "#{menu.enabled ? '' : 'blur'}"}= menu.title
                %td{class: "#{menu.enabled ? '' : 'blur'}"}= "#{menu.menuable_type.constantize.model_name.human}: #{menu.menuable.title}" if menu.menuable
                %td= enable_disable_link toggle_enabled_site_menu_path(@site, menu), menu.enabled
                %td= edit_link edit_site_menu_path(@site, menu)
                %td= delete_link site_menu_path(@site, menu)
          - else
            = render "shared/empty", colspan: 5

      .p
        = link_to t('menus.index.submit'), new_site_menu_path(@site), class: "SPColorButton SPGreenColorButton"
  .col-md-1 &nbsp;
