.row
  .col-md-10.col-md-offset-1
    .container
      #publishing_checklists
        %h2= page_title t('admin.index.title')

        %h4.b= t('admin.index.sites.title')
        %table.table.table-striped.mtd
          %thead
            %tr
              %th= t('admin.index.sites.thead_title')
              %th= t('admin.index.sites.thead_subdomain')
              %th= t('admin.index.sites.thead_user')
              %th= t('admin.index.sites.thead_published')
              %th= t('admin.index.sites.thead_created_at')
          %tbody
            - @sites.each do |site|
              %tr
                %td= link_to(site.title, dashboard_site_path(site))
                %td= site.subdomain
                %td= site.user
                %td= site.published
                %td= site.created_at

        %h4.b= t('admin.index.users.title')
        %table.table.table-striped.mtd
          %thead
            %tr
              %th= t('admin.index.users.thead_email')
              %th= t('admin.index.users.thead_sites')
              %th= t('admin.index.users.thead_created_at')
          %tbody
            - @users.each do |user|
              %tr
                %td= user.email
                %td= user.sites.pluck(:title).join(", ")
                %td= user.created_at
