.row
  .col-md-6.col-md-offset-3
    .container
      %h2= page_title t('users.edit.title')
      = render "shared/errors", object: @user

      = form_for @user do |f|
        .pyh
          = f.label :email
          = f.text_field :email, disabled: true, class: "form-control"
        .pyh.rel
          = f.label :password
          = f.password_field :password, class: "form-control"
          .abs{style: "top: 33px; right: 5px;"}
            = content_tag :a, id: "toggle_password", title: t('users.new.password_hint') do
              .ph.px.glyphicon.glyphicon-eye-close

        .pyh
          = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
