.row
  .col-md-6.col-md-offset-3
    .container
      = render "shared/logo"

      %h2= page_title t('users.forget_password.title')
      .mbd= t('users.forget_password.subtitle')
      = form_tag generate_recovery_token_users_path do
        .pyh
          = label_tag :email, User.human_attribute_name(:email)
          = text_field_tag :email, params[:email], class: "form-control"
        .pyh
          = submit_tag t('users.forget_password.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
