.row
  .col-md-6.col-md-offset-3
    .container
      = render "shared/logo"

      %h2= page_title t('users.new.title')
      = render "shared/errors", object: @user
      = render "shared/errors", object: @site

      = form_for @user do |f|
        .pyh
          = f.label :email
          = f.text_field :email, autofocus: (@user.errors.blank? && @site.errors.blank?), class: "form-control"
        .pyh.rel
          = f.label :password
          = f.password_field :password, class: "form-control"
          .abs{style: "top: 33px; right: 3px;"}
            = content_tag :a, id: "toggle_password", title: t('users.new.password_hint') do
              .ph.px.glyphicon.glyphicon-eye-close

        = fields_for @site do |s|
          .pyh.rel
            = s.label_with_hint :subdomain
            .input-group
              = s.text_field :subdomain, class: "form-control"
              %span.b.l.input-group-addon
                = ".#{DOMAIN_HOST}"

        .pyh
          = f.submit t('users.new.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
      .fr
        = t('shared.or')
        = link_to t('sessions.new.link'), log_in_path
      %br
      .fr
        = t('shared.or')
        = link_to t('main.index.showcase.link2', website_name: WEBSITE_NAME), root_path(anchor: "showcase"), target: "_blank"

= render "shared/facebook_code"
= render "shared/adwords_sign_up_code"
