.top_menu.pt
  .container
    .navbar.navbar-inverse.navbar-static-top
      .container
        .navbar-header
          = content_tag :button, type: "button", data: { toggle: "collapse", target: ".navbar-collapse" }, class: "navbar-toggle" do
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to t('shared.site_name'), root_path, class: "navbar-brand b"
        .navbar-collapse.collapse
          %ul.nav.navbar-nav
            %li
              = link_to t('shared.top_menu.dashboard'), root_path
            %li.dropdown
              = content_tag :a, href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
                = t('shared.top_menu.settings')
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('shared.top_menu.website_settings'), edit_site_path(@site)
                %li
                  = link_to t('shared.top_menu.contact_settings'), edit_site_contact_info_path(@site)
            %li.dropdown
              = content_tag :a, href: "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
                = t('shared.top_menu.content')
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to t('shared.top_menu.pages'), site_pages_path(@site)
                %li
                  = link_to t('shared.top_menu.categories'), site_categories_path(@site)
                %li
                  = link_to t('shared.top_menu.menus'), site_menus_path(@site)
            %li
              = link_to t('shared.top_menu.publish'), edit_site_publishing_path(@site)
            - if admin?
              %li
                = link_to t('shared.top_menu.admin'), admin_path
          .log_out
            = link_to current_user, edit_user_path(current_user)
            %span.ml
              = link_to t('users.shared.log_out'), log_out_path, class: "SPColorButton SPRedColorButton"
