= form_for [@site, @page] do |f|
  .pyh
    = f.label :title
    = f.text_field :title, class: "form-control"
  .pyh
    = f.label :content
    = f.text_area :content, size: "30x15", class: "form-control wysihtml5"
  .pyh
    = f.label_with_hint :meta_description
    = f.text_field :meta_description, class: "form-control"
  .pyh
    = f.label_with_hint :meta_keywords
    = f.text_field :meta_keywords, class: "form-control"

  - if @page.persisted?
    #file_field_form.pt.pbh
      = f.label_with_hint :pictures
      = file_field_tag "file", id: "fileupload", name: "uploaded", multiple: true, multipart: true, data: { url: site_page_pictures_path(@site, @page) }
    #file_field_loading.pt.pbh{style: "display: none;"}
      = image_tag "ajax-loader.gif"
    #gallery{data: {gallery_path: site_page_pictures_path(@site, @page), err_msg: t('pictures.create.err_msg')}}
      = render "pictures/listing", pictures: @pictures

  .pyh
    = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
