.row
  .col-md-1 &nbsp;
  .col-md-10
    .container
      %h2= page_title t('pages.index.title')
      = t('pages.index.sub_title')

      %table.table.table-striped.mtd
        %thead
          %tr
            %th{width: "5%"}= t('shared.sort')
            %th{width: "35%"}= t('pages.index.thead_title')
            %th{width: "35%"}= t('pages.index.thead_content')
            %th &nbsp;
            %th &nbsp;
        %tbody#sortable{data: {url: sort_site_pages_path(@site)}}
          - if @pages.any?
            - @pages.each do |page|
              %tr{id: dom_id(page) }
                %td.tac{data: {sortable_handle: true}}
                  %span.glyphicon.glyphicon-resize-vertical
                %td= page.title
                %td= "#{page.content.truncate(50)}" if page.content
                %td= edit_link edit_site_page_path(@site, page)
                %td= delete_link site_page_path(@site, page)
          - else
            = render "shared/empty", colspan: 5

      .p
        = link_to t('pages.index.submit'), new_site_page_path(@site), class: "SPColorButton SPGreenColorButton"
  .col-md-1 &nbsp;
