- meta_contents @page
.container.pbq
  %h1= page_title @page.title
  .pxh
    = strip_links raw(@page.content)
  #gallery.pyd.tac
    - @pictures.map(&:picture).each do |picture|
      .ib.ph.mbh.fancybox-skin
        = link_to picture.url, rel: "gallery", class: "fancybox" do
          = max_width_image_tag picture.url(:thumb), 200, { title: @page.title, alt: @page.title }

  - if @category.present? && @category.pages.count > 1
    .mt
    %hr.page
    .mb
    .b.mld= t('shared.see_also')
    %ul
      - @category.pages.ordered.each do |page|
        - if @page.id != page.id
          %li= link_to page.title, category_page_path(@category, page), title: "#{page.title} | #{@site.title}"
