/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require spectrum
 *= require fancybox
 *= require bootstrap-wysihtml5
 *= require bootstrap-wysihtml5/wysiwyg-color
 *= require font-awesome
 *= require_self
 */

$spacing: 10px;

a:hover {
  text-decoration: none;
}

@import "basics.css.scss";
@import "buttons.css.scss";
@import "menus.css.scss";
@import "layout.css.scss";
@import "users.css.scss";
@import "publishings.css.scss";
@import "dashboard.css.scss";
@import "viewing.css.scss";

/* bootstrap override */
.dropdown-menu > li > a {
  line-height: 2;
}
