.vs { font-size: 0.82em; }
.s { font-size: 0.875em; }
.n { font-size: 1em;}
.l { font-size: 1.125em; }
.vl { font-size: 1.4em; }

.oh { overflow: hidden; }
.fl { float: left; }
.fr { float: right; }
.ib { display: inline-block; }
.il { display: inline; }
.hd { display: none; }

.fix { position: fixed;}
.rel { position: relative; }
.abs { position: absolute; }

.tal { text-align: left; }
.tac { text-align: center; }
.tar { text-align: right; }
.tdn { text-decoration: none; }

.b { font-weight: bold; }

.mz { margin: 0; }
.ma { margin-left: auto; margin-right: auto; }
.mh { margin: $spacing * 0.5; }
.m { margin: $spacing * 1; }
.md { margin: $spacing * 2; }
.mq { margin: $spacing * 4; }
.myz { margin-top: 0; margin-bottom: 0; }
.myh { margin-top: $spacing * 0.5; margin-bottom: $spacing * 0.5; }
.my { margin-top: $spacing * 1; margin-bottom: $spacing * 1; }
.myd { margin-top: $spacing * 2; margin-bottom: $spacing * 2; }
.myq { margin-top: $spacing * 4; margin-bottom: $spacing * 4; }
.mxz { margin-left: 0; margin-right: 0; }
.mxh { margin-left: $spacing * 0.5; margin-right: $spacing * 0.5; }
.mx { margin-left: $spacing * 1; margin-right: $spacing * 1; }
.mxd { margin-left: $spacing * 2; margin-right: $spacing * 2; }
.mxq { margin-left: $spacing * 4; margin-right: $spacing * 4; }
.mtz { margin-top: 0; }
.mth { margin-top: $spacing * 0.5; }
.mt { margin-top: $spacing * 1; }
.mtd { margin-top: $spacing * 2; }
.mtq { margin-top: $spacing * 4; }
.mrz { margin-right: 0; }
.mrh { margin-right: $spacing * 0.5; }
.mr { margin-right: $spacing * 1; }
.mrd { margin-right: $spacing * 2; }
.mrq { margin-right: $spacing * 4; }
.mbz { margin-bottom: 0; }
.mbh { margin-bottom: $spacing * 0.5; }
.mb { margin-bottom: $spacing * 1; }
.mbd { margin-bottom: $spacing * 2; }
.mbq { margin-bottom: $spacing * 4; }
.mlz { margin-left: 0; }
.mlh { margin-left: $spacing * 0.5; }
.ml { margin-left: $spacing * 1; }
.mld { margin-left: $spacing * 2; }
.mlq { margin-left: $spacing * 4; }
.pz { padding: 0; }
.ph { padding: $spacing * 0.5; }
.p { padding: $spacing * 1; }
.pd { padding: $spacing * 2; }
.pq { padding: $spacing * 4; }
.pyz { padding-top: 0; padding-bottom: 0; }
.pyh { padding-top: $spacing * 0.5; padding-bottom: $spacing * 0.5; }
.py { padding-top: $spacing * 1; padding-bottom: $spacing * 1; }
.pyd { padding-top: $spacing * 2; padding-bottom: $spacing * 2; }
.pyq { padding-top: $spacing * 4; padding-bottom: $spacing * 4; }
.pxz { padding-left: 0; padding-right: 0; }
.pxh { padding-left: $spacing * 0.5; padding-right: $spacing * 0.5; }
.px { padding-left: $spacing * 1; padding-right: $spacing * 1; }
.pxd { padding-left: $spacing * 2; padding-right: $spacing * 2; }
.pxq { padding-left: $spacing * 4; padding-right: $spacing * 4; }
.ptz { padding-top: 0; }
.pth { padding-top: $spacing * 0.5; }
.pt { padding-top: $spacing * 1; }
.ptd { padding-top: $spacing * 2; }
.ptq { padding-top: $spacing * 4; }
.prz { padding-right: 0; }
.prh { padding-right: $spacing * 0.5; }
.pr { padding-right: $spacing * 1; }
.prd { padding-right: $spacing * 2; }
.prq { padding-right: $spacing * 4; }
.pbz { padding-bottom: 0; }
.pbh { padding-bottom: $spacing * 0.5; }
.pb { padding-bottom: $spacing * 1; }
.pbd { padding-bottom: $spacing * 2; }
.pbq { padding-bottom: $spacing * 4; }
.plz { padding-left: 0; }
.plh { padding-left: $spacing * 0.5; }
.pl { padding-left: $spacing * 1; }
.pld { padding-left: $spacing * 2; }
.plq { padding-left: $spacing * 4; }
.blur { opacity: 0.3; }
