.SPColorButton {
  padding: 5px 15px;
  border: none;
  border-radius: 3px;
  color: mintcream;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.SPRedColorButton {
  background-color: orangered;
}

.SPGreenColorButton {
  background-color: yellowgreen;
}

.SPBlueColorButton {
  background-color: steelblue;
}
