#tutorial {
  padding: 10px 5px;
  border: 2px solid cadetblue;
  border-radius: 4px;
}

#website {
  padding: 10px 5px;
  border: 2px solid cadetblue;
  border-radius: 4px;
}

#statistics {
  padding: 20px 5px;
  border: 2px solid cadetblue;
  border-radius: 4px;
}
