.flash {
  margin-top: 5px;
  padding: 5px 0;
  text-align: center;
}

.flash_notice {
  background-color: lightgreen;
}

.flash_alert {
  background-color: tomato;
}

.field_with_errors {
  color: tomato;
}

ul.errors {
  padding-left: 15px;
  li {

  }
}

#copyright {
  margin: 60px 0px 20px;
  padding: 10px;
  border-radius: 4px;
  background-color: skyblue;
}

.aquamarine {
  color: aquamarine;
}

hr.page {
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
}
