.top_menu {
  $top_menu_height: 50px;

  .navbar {
    min-height: $top_menu_height;
    border-radius: 4px;
  }

  .log_out {
    float: right;
    line-height: $top_menu_height;

    > a {
      color: #fff;

      &:hover {
        color: cornflowerblue;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .log_out {
      float: left;
      margin-left: -15px;
    }
  }
}
