#publishing_checklists {
  .step {
    margin-top: 15px;
    padding: 10px;
    border: 2px solid palegoldenrod;
    border-radius: 4px;
  }
}

#website_status {
  padding: 10px;
  border: 2px solid sandybrown;
  border-radius: 4px;

  .glyphicon {
    font-size: 3em;
  }

  .selected {
    background-color: beige;
    border: 1px solid darkgray;
    border-radius: 4px;
  }
}

.ok-sign, .play {
  color: yellowgreen;
}

.remove-sign, .pause {
  color: orangered;
}
