.blurry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 700px;
  padding-bottom: 60px;
  background-attachment: fixed;
  background-size: cover !important;
}

header {
  line-height: 200px;
  border-radius: 4px;
  background-size: cover;

  #logo img {
    max-height: 150px;
    max-width: 75%;
    border: 4px solid #fff;
  }
}

#main_content {
  > .row {
    aside {
      padding: 15px 5px;
      border-radius: 4px;
      a {
        color: black;
      }
    }
    article {
      padding: 0px 5px;
      border-radius: 4px;
    }
  }
}

footer {
  border-radius: 4px;
}
