= form_for [@site, @category] do |f|
  .py
    = f.label :title
    = f.text_field :title, class: "form-control"
  .py
    = f.label_with_hint :background_image
    = f.file_field :background_image, class: "form-control"
    = max_width_image_tag @category.background_image.url, 300

  .py
    = label_tag :pages, t('categories.shared.pages')
    = " - "
    %span.s= t('categories.shared.pages_hint')
    - @all_pages.each do |page|
      - if orphan_page?(page) || page_belong_to_category?(page, @category)
        .pyh
          = check_box_tag "page_ids[]", page.id, page_belong_to_category?(page, @category), id: page.id
          = label_tag page.id, page.title

  .pyh
    = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
