.row
  .col-md-1 &nbsp;
  .col-md-10
    .container
      %h2= page_title t('categories.index.title')
      = t('categories.index.sub_title')

      %table.table.table-striped.mtd
        %thead
          %tr
            %th{width: "40%"}= t('categories.index.thead_title')
            %th{width: "35%"}= t('categories.index.thead_pages')
            %th &nbsp;
            %th &nbsp;
        %tbody
          - if @categories.any?
            - @categories.each do |category|
              %tr
                %td= category.title
                %td= pages_inside category
                %td= edit_link edit_site_category_path(@site, category)
                %td= delete_link site_category_path(@site, category)
          - else
            = render "shared/empty", colspan: 4

      .p
        = link_to t('categories.index.submit'), new_site_category_path(@site), class: "SPColorButton SPGreenColorButton"
  .col-md-1 &nbsp;
