.well.well-sm.mb
  - if link
    = link_to send("site_#{component}_path", @site) do
      %span.b= t("dashboard.index.website.#{component}")
  - else
    %span.b= t("dashboard.index.website.#{component}")

  %span.s= " - " + t("dashboard.index.website.#{component}_hint")
  .mt
    - limit = " #{t('dashboard.shared.out_of')} #{limit}" if limit
    = "#{t('dashboard.shared.total')}: #{@site.send(component).count}#{limit} " + t("dashboard.index.website.#{component}")
