.row
  .col-md-8.col-md-offset-2
    .container
      %h2= page_title t('dashboard.index.title')

      .b.vl= t('dashboard.index.tutorial.title')
      #tutorial
        = link_to t('dashboard.index.tutorial.part_1'), "/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99%20Kasetbay%20%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88%201%20-%20%E0%B9%80%E0%B8%A7%E0%B8%9A%E0%B9%84%E0%B8%8B%E0%B8%95%E0%B9%8C.pdf", target: "_blank"
        %br
        = link_to t('dashboard.index.tutorial.part_2'), "/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99%20Kasetbay%20%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88%202%20-%20%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B8%95%E0%B8%B4%E0%B8%94%E0%B8%95%E0%B9%88%E0%B8%AD.pdf", target: "_blank"
        %br
        = link_to t('dashboard.index.tutorial.part_3'), "/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99%20Kasetbay%20%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88%203%20-%20%E0%B9%80%E0%B8%99%E0%B8%B7%E0%B9%89%E0%B8%AD%E0%B8%AB%E0%B8%B2.pdf", target: "_blank"
        %br
        = link_to t('dashboard.index.tutorial.part_4'), "/%E0%B8%A7%E0%B8%B4%E0%B8%98%E0%B8%B5%E0%B8%81%E0%B8%B2%E0%B8%A3%E0%B9%83%E0%B8%8A%E0%B9%89%E0%B8%87%E0%B8%B2%E0%B8%99%20Kasetbay%20%E0%B8%AA%E0%B9%88%E0%B8%A7%E0%B8%99%E0%B8%97%E0%B8%B5%E0%B9%88%204%20-%20%E0%B9%80%E0%B8%9C%E0%B8%A2%E0%B9%81%E0%B8%9E%E0%B8%A3%E0%B9%88.pdf", target: "_blank"

      .ptd.b.vl= t('dashboard.index.website.title')
      #website
        .row
          .col-md-3.tac.mbh
            #website_status
              = link_to edit_site_publishing_path(@site) do
                - if @site.published?
                  = website_published(!@site.published?)
                - else
                  = website_unpublished(!@site.published?)
          .col-md-9
            .alert.alert-success.mb.b
              = t('dashboard.index.website.click')
              %span.glyphicon.glyphicon-hand-right.mlh.mr.vl
              = link_to @site.url, @site.url, class: "vl", target: "_blank"

            = render "sites/website_component", component: "pages", link: true, limit: PAGE_LIMIT
            = render "sites/website_component", component: "categories", link: true, limit: CATEGORY_LIMIT
            = render "sites/website_component", component: "menus", link: true, limit: nil
            = render "sites/website_component", component: "pictures", link: false, limit: PICTURE_LIMIT

      .ptd.b.vl= t('dashboard.index.statistics.title')
      #statistics
        = t('dashboard.index.statistics.soon')

= render "shared/adwords_dashboard_code"
