.row
  .col-md-8.col-md-offset-2
    .container
      %h2= page_title t('sites.edit.title')
      = render "shared/errors", object: @site

      = form_for @site do |f|
        .pyh
          = label_tag :website, t('sites.edit.website')
          = text_field_tag :website, @site.url, disabled: true, class: "form-control"
        .pyh
          = f.label_with_hint :title
          = f.text_field :title, class: "form-control"
        .pyh
          = f.label :sub_title
          = f.text_field :sub_title, class: "form-control"
        .py
          = f.label_with_hint :logo
          = f.file_field :logo, class: "form-control"
          = max_width_image_tag @site.logo.url, 250
        .py
          = f.label_with_hint :header_image
          = f.file_field :header_image, class: "form-control"
          = max_width_image_tag @site.header_image.url, 350
        .py
          = f.label_with_hint :background_image
          = f.file_field :background_image, class: "form-control"
          = max_width_image_tag @site.background_image.url, 350
        .py.ptd
          .row
            .col-md-4
              = f.label :sidebar_color
              = f.text_field :sidebar_color, data: {color_picker: true}
            .col-md-4
              = f.label :article_color
              = f.text_field :article_color, data: {color_picker: true}
            .col-md-4
              = f.label :footer_color
              = f.text_field :footer_color, data: {color_picker: true}
        .py
          = f.label_with_hint :meta_description
          = f.text_field :meta_description, class: "form-control"
        .py
          = f.label_with_hint :meta_keywords
          = f.text_field :meta_keywords, class: "form-control"

        .pyh
          = f.submit t('shared.save'), class: "btn btn-block SPColorButton SPBlueColorButton"
