%footer.tar{style: "background-color: #{@site.footer_color}"}
  .p
    .l.b= @site.contact_info.name
    - if @site.contact_info.email.present?
      = hidden_field_tag :email, @site.contact_info.email.reverse
      .ib{data: {hider: "email"}}
      - if @site.contact_info.facebook_url.present?
        = " | "
    - if @site.contact_info.facebook_url.present?
      = link_to "#{t('contact_infos.edit.facebook_url_initial')}#{@site.contact_info.facebook_url}", target: "_blank" do
        = max_width_image_tag "facebook_white.png", "15"

    %div
      - %w(phone fax).each do |kind|
        = ContactInfo.human_attribute_name(kind) + ": "
        = @site.contact_info.send(kind).present? ? @site.contact_info.send(kind) : t('shared.na')
    %div
      - %w(address district city country zip_code).each do |kind|
        = @site.contact_info.send(kind) if @site.contact_info.present?
