%aside{style: "background-color: #{@site.sidebar_color}"}
  - (@menus).each do |menu|
    %ul.nav.nav-pills.nav-stacked
      - if menu.is_category?
        %li.dropdown
          = content_tag :a, href: "#", class: "dropdown-toggle", title: "#{menu.title} | #{@site.title}", data: { toggle: "dropdown" } do
            = menu.title
            %b.caret
          %ul.dropdown-menu
            - menu.menuable.pages.ordered.each do |page|
              %li= link_to page.title, category_page_path(menu.menuable, page), title: "#{page.title} | #{@site.title}"
      - if menu.is_page?
        %li= link_to menu.title, page_path(menu.menuable), title: menu_link_title(menu)
