!!!
%html
  %head
    %title= @page_title || WEBSITE_NAME
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - flash.each { |name, msg| concat flash_bar_tag(name, msg) }
    = render "shared/top_menu" if authenticated? && @site
    .container
      = yield
    .container
      #copyright.tar.s
        = t('shared.copyright.reserved', name: WEBSITE_NAME)
        = " | "
        = mail_to ADMIN_EMAIL, t('shared.copyright.contact')

    = render "shared/analytics", property_id: "UA-49602619-1"
