!!!
%html
  %head
    %title= "#{@page_title + ' | ' if @page_title.present?}#{WEBSITE_NAME}"
    = stylesheet_link_tag "application", media: "all"
    = stylesheet_link_tag "grayscale", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic", media: "all"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Montserrat:400,700", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "grayscale"
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    %meta{name: 'description', content: META_DESCRIPTION }
    %meta{name: 'keywords', content: META_KEYWORDS }
    = csrf_meta_tags
  %body{id: "page-top", data: {spy: "scroll", target: ".navbar-custom"}}
    = yield
    .container.myd.tar.vs
      = t('shared.copyright.reserved', name: WEBSITE_NAME)
      = " | "
      = link_to t('main.tos.title'), tos_path
      = " | "
      = "Theme by #{link_to('Start Bootstrap', 'http://startbootstrap.com/grayscale')}.".html_safe

    = render "shared/analytics", property_id: "UA-49602619-1"
