!!!
%html
  %head
    %title= "#{@page_title + ' | ' if (@page_title.present? && controller_name != 'sites' && controller_name != 'show')}#{@site.title}"
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    %meta{name: 'viewport', content: "width=device-width, initial-scale=1"}
    %meta{name: 'description', content: (controller_name != 'sites' && controller_name != 'show') ? @meta_description : @site.meta_description}
    %meta{name: 'keywords', content: (controller_name != 'sites' && controller_name != 'show') ? @meta_keywords : @site.meta_keywords}
    = csrf_meta_tags
  %body
    #content.blurry{style: "background-image: url('#{background_image(@site, @category)}');"}
      .container.pt
        %header{style: "background-image: url('#{@site.header_image}');"}
          #logo.mld
            = link_to root_path, title: @site.title do
              = image_tag @site.logo, alt: @site.title, title: @site.title
      .container.pt
        #main_content.pt
          .row
            .col-md-3.mb
              = render "viewing/sidebar"
            .col-md-9
              %article{style: "background-color: #{@site.article_color}"}
                = yield
              %br
              - if @site.try(:id) == 49
                .row
                  .col-md-6
                    = render "shared/facebook_like"
                  .col-md-6
                    = link_to 'http://thephytonova.com', target: '_blank' do
                      .ib{style: "border: 2px solid #fff;"}
                        = image_tag 'phytonova.png'
      .container.pt
        = render "viewing/footer" if @site.contact_info.present?
      .container.pt
        #powered_by.tar.s
          .pxh
            = (t('shared.powered_by') + " " + link_to(WEBSITE_NAME, "http://#{DOMAIN_HOST}")).html_safe

    = render "shared/analytics", property_id: "UA-49602619-2"
